<div class="container">
<p id="notice"><%= notice %></p>

<h1>Data Feeds</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_feeds.each do |data_feed| %>
      <tr>
        <td><%= data_feed.name %></td>
        <td><%= data_feed.url %></td>
        <td><%= data_feed.description %></td>
        <td><%= link_to 'Show', data_feed %></td>
        <td><%= link_to 'Edit', edit_data_feed_path(data_feed) %></td>
        <td><%= link_to 'Destroy', data_feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Feed', new_data_feed_path %>
</div>
